In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("pollution_2000_2021.csv")

In [11]:
type(data)

pandas.core.frame.DataFrame

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608699 entries, 0 to 608698
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               608699 non-null  object
 1   Year               608699 non-null  int64
 2   Month              608699 non-null  int64
 3   Day                608699 non-null  int64
 4   Address            608699 non-null  object
 5   State              608699 non-null  object
 6   County             608699 non-null  object
 7   City               608699 non-null  object
 8   O3 Mean            608699 non-null  float64
 9   O3 1st Max Value   608699 non-null  float64
 10  O3 1st Max Hour    608699 non-null  int64
 11  O3 AQI             608699 non-null  int64
 12  CO Mean            608699 non-null  float64
 13  CO 1st Max Value   608699 non-null  float64
 14  CO 1st Max Hour    608699 non-null  int64
 15  CO AQI             608699 non-null  float64
 16  SO2 Mean           608699 non-null  float64
 17  SO2 1st Max Value  608699 non-null  float64
 18  SO2 1st Max Hour   608699 non-null  int64
 19  SO2 AQI            608699 non-null  float64
 20  NO2 Mean           608699 non-null  float64
 21  NO2 1st Max Value  608699 non-null  float64
 22  NO2 1st Max Hour   608699 non-null  int64
 23  NO2 AQI            608699 non-null  int64
dtypes: float64(10), int64(9), object(5)
memory usage: 111.5+ MB

In [21]:
data.isnull().sum()
# dataFrame.isnull().sum() this function is going to turn each entry in bool value
# and then sum() will make an addition by columns of the null values.

Date                 0
Year                 0
Month                0
Day                  0
Address              0
State                0
County               0
City                 0
O3 Mean              0
O3 1st Max Value     0
O3 1st Max Hour      0
O3 AQI               0
CO Mean              0
CO 1st Max Value     0
CO 1st Max Hour      0
CO AQI               0
SO2 Mean             0
SO2 1st Max Value    0
SO2 1st Max Hour     0
SO2 AQI              0
NO2 Mean             0
NO2 1st Max Value    0
NO2 1st Max Hour     0
NO2 AQI              0
dtype: int64

In [26]:
np.product(data.shape)
# using numpy, product will multiply the shape of the dataframe
# dataFrame.shape will retrieve the dimensions of the matrix.

14608776

In [29]:
(data.isnull().sum().sum())/(np.product(data.shape))
# this is the ratio of null values from the whole data we got.

0.0

In [31]:
data.shape[1]
# shape returns the matrix dimension where the second entry is the columns. rows x columns

24

In [33]:
data.shape[0]

608699